body{
      background-color:#D2B48C;
      margin: 8px;
      border-color: white;
}

table{
    background-color:white;
    width: 700px;
    padding: 5px;
}

th{
    background-color: #FFFF99;
    color:#696969;
   
}

td{
    background-color: #F08080;
    color:#FFFFFF;
   
}
table, td, th {
    border: 1px solid white;
}

form{
    height:150px;
    width: 300px;
    padding:15px;
    background-color: #F08080;
 
}

label{
   background-color: #F08080;
    color:#FFFFFF;
    width:100px;   
}

a {color: #696969;
}


h1{
    color:black;
}

input[readonly] {background-color: gray;}

/* Wrapper div that holds all of the content divs for the page */
.wrap {text-align:center; width:90%; margin:0 auto; border: 3px solid black; margin-top:25px;}

/* format the page header */
.header{text-align:left; padding:25px;}
.headerImg {float:left; width:200px;}
.headerText{float:left; height: 105px; padding-top:50px; padding-left:25px;}
/* format the page footer */
.footer{ text-align:left; padding:25px;}
/* format main page content */
.main{ text-align:left; padding:25px;}


/*Fat Erik's Pipelist*/
 /*http://css.maxdesign.com.au/listamatic/horizontal32.htm*/
 .navcontainer { margin-left: 30px; text-align:left; }
 .navlist
 {
 list-style: none;
 padding: 0;
 margin: 0;
 }

 .navlist li
 {
 display: inline;
 padding: 0;
 margin: 0;
 }

 .navlist li:before { content: "| "; }
 .navlist li:first-child:before { content: ""; }

 /*IE workaround*/
 /*All IE browsers*/
 * html #navlist li
 {
 border-left: 1px solid black;
 padding: 0 0.4em 0 0.4em;
 margin: 0 0.4em 0 -0.4em;
 }

 /*Win IE browsers - hide from Mac IE\*/
 * html #navlist { height: 1%; }

 * html #navlist li
 {
 display: block;
 float: left;
 }

 /*End hide*/
 /*Mac IE 5*/
 * html #navlist li:first-child { border-left: 0; }
 
 